/****************************
*
* UNIVERSAL
*
*****************************/

html, body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

footer {
	height: 15%;
	width: 100%;
}

footer .row {
	height: 100%;
}

footer .col-md-3 {
	color: #000;
	height: 100%;
	background-color: #ccc;
	border: 1px solid #aaa;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

footer .glyphicon {
	font-size: 5em;
	display: block;
	margin: auto;
}

.container {
	height: 85%;
	padding-bottom: 10px;
	overflow-y: scroll;
}

.profile, .navigation, footer .col-md-3, 
#activities .col-md-4, #list h5, #map h5 {
	cursor: pointer;
}

#list h1, #map h1, #list h5, #map h5  {
	display: inline-block;
}

/****************************
*
* ACTIVITIES
*
*****************************/

#activities .row {
	height: 40%;
	padding: 0 200px;
}

#activities .col-md-4 {
	background-color: #F1F1F1;
	border: 1px solid #E4E4E4;
	height: 100%;
}

#activities .col-md-4:hover {
	background-color: #E4E4E4;
}

/****************************
*
* PROFILES
*
*****************************/

.profile {
	margin: 0;
	padding: 0;
	width: 175px;
	height: 175px;
}

.profile span {
	position: absolute;
	bottom: 0;
	color: white;
	right: 5px;
}

.profile-pic {
	width: 100%;
	height: 100%;
	display: block;
}

/****************************
*
* SELECTED PROFILE
*
*****************************/

#selected-profile .row {

}

.navigation {
	width: 50px;
	margin-right: 25px;
	font-size: 1.25em;
}

#selected-profile .col-md-2, #selected-profile .col-md-4, 
#selected-profile .col-md-6, #selected-profile .col-md-8,
#selected-profile .col-md-12, #selected-profile .col-md-1 {
	border: 1px solid #ccc;
	height: 100%;
	padding: 0;
}

#selected-profile-pic {
	height: 300px;	
	width: 390px;
}

#selected-profile .col-md-1 {
	height: 75px;
}

.thumbnail {
	height: 75px;	
	width: 95px;
	cursor: pointer;
}

#flag {
	position: absolute;
	opacity: 0.25;
	width: 100%;
	height: 100%;
}

#info-container {
	height: 300px;
}

#info {
	padding: 10px;
}

#selected-profile-distance {
	font-size: 0.6em;
	font-weight: 500;
}

#seals {
	width: 190px;
	height: 300px;
}

/****************************
*
* EVENTS LIST VIEW
*
*****************************/

#list img {
	width: 150px;
	height: 150px;
}

/****************************
*
* MAP
*
*****************************/

svg {
	display: block;
	margin: auto;
	border: 1px solid #ccc;
}

.land {
  fill: #ddd;
}

.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.event {
	fill: red;
}

.user {
	fill: #68B568;
}
