<!DOCTYPE html>
<html ng-app="bandTogetherApp" >
  <head>

    <script type="text/javascript" src="lib/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="lib/js/angular.min.js"></script>
    <script type="text/javascript" src="lib/js/d3.min.js"></script>
    <script type="text/javascript" src="lib/js/topojson.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>

    <link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <title>Band Together</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  
  <body ng-controller="indexController" ng-init="getLocation();displayComponent('#profiles');">

    <!-- start resources component -->
    <div id="resources" class="container">
      <h1>resources</h1>
    </div>
    <!-- end component -->

    <!-- start settings component -->
    <div id="settings" class="container">
      <h1>settings</h1>
    </div>
    <!-- end settings component -->

    <!-- start profiles component -->
    <div id="profiles" class="container">
      <h1>profiles</h1>
      <div class="row" ng-repeat="split in splitProfiles">
        <div class="col-md-3"></div>
        <a class="profile col-md-2" ng-repeat="profile in split" ng-click="setSelectedProfileIndex($parent.$index * SPLIT_SIZE + $index);displayComponent('#selected-profile')">
          <img class="profile-pic" ng-src="{{profile.profilepic}}">
          <span>{{profile.distance | number:2}} mi</span>  
        </a>
        <div class="col-md-3"></div>
      </div>
    </div>
    <!-- end component -->

    <!-- start selected profile component -->
    <div id="selected-profile" class="container">
      <h1>{{selectedProfile.username}}</h1>

      <a class="navigation" ng-click="getPrevProfile()">prev</a>
      <a class="navigation" ng-click="getNextProfile()">next</a>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
           <img id="selected-profile-pic" ng-src="{{selectedProfile.profilepic}}">
        </div>
        <div class="col-md-2"><img id="seals" src="data/seals.gif"></div>
        <div class="col-md-3"></div>
      </div>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-1">
           <img class="thumbnail" ng-src="{{selectedProfile.profilepic}}">
        </div>
        <div class="col-md-1">
           <img class="thumbnail" ng-src="{{selectedProfile.profilepic}}">
        </div>
        <div class="col-md-1">
           <img class="thumbnail" ng-src="{{selectedProfile.profilepic}}">
        </div>
        <div class="col-md-1">
           <img class="thumbnail" ng-src="{{selectedProfile.profilepic}}">
        </div>
        <div class="col-md-1">
           <img class="thumbnail" ng-src="{{selectedProfile.profilepic}}">
        </div>
        <div class="col-md-1">
           <img class="thumbnail" ng-src="{{selectedProfile.profilepic}}">
        </div>
        <div class="col-md-3"></div>
      </div>

      <div class="row" id="info-container">
         <div class="col-md-3"></div>
        <div class="col-md-6">
          <img id="flag" src="data/flag.jpg">
          <div id="info">
      
          <h3>{{selectedProfile.first}} {{selectedProfile.last}} <span id="selected-profile-distance">({{selectedProfile.distance | number:2}} mi)</span></h3>
          <p>{{selectedProfile.branch}}</p>

          <h4>skills</h4>
          <ul>
            <li ng-repeat="skill in selectedProfile.skills">{{skill}}</li>
          </ul>
          <h4>desired skills</h4>
          <ul>
            <li ng-repeat="desiredSkill in selectedProfile.wantToLearn">{{desiredSkill}}</li>
          </ul>
          </div>
        </div>
         <div class="col-md-3"></div>
      </div>
       
    </div>
    <!-- end selected component -->

    <!-- start activities component -->
    <div id="activities" class="container">
      <h1>activities</h1>
      <div class="row">
         <div class="col-md-2"></div>
        <div class="col-md-4" ng-click="setCategory('volunteer');displayComponent('#list');">
          <h2>#volunteer</h2>
          <h5>service before self.</h5>
        </div>
        <div class="col-md-4" ng-click="setCategory('socialize');displayComponent('#list');">
          <h2>#socialize</h2>
          <h5>build loyalty. commit to fun.</h5>
        </div>
         <div class="col-md-2"></div>
      </div>

      <div class="row">
         <div class="col-md-2"></div>
        <div class="col-md-4" ng-click="setCategory('rejuvenate');displayComponent('#list');">
          <h2>#rejuvenate</h2>
          <h5>devoton to mind, body, health.</h5>
        </div>
        <div class="col-md-4" ng-click="setCategory('compete');displayComponent('#list');">
          <h2>#compete</h2>
          <h5>compete with others or compete with yourself.</h5>
        </div>
         <div class="col-md-2"></div>
      </div>
    </div>
    <!-- end activities component -->

    <!-- start list component -->
    <div id="list" class="container">
      <h1>list view</h1>
      <h5 ng-click="displayComponent('#map');renderMap(lon, lat, events)">map view</h5>

      <table class="table table-striped">

        <tr ng-repeat="evnt in events">
          <td>
            <p>{{evnt.title}}</p>
            <p>{{evnt.date}}</p>
            <p>{{evnt.time}}</p>
          </td>
          <td>{{evnt.description}}</td>
          <td><img ng-src="{{evnt.picture}}"></td>
          <td>
            <p>Distance away: {{evnt.distance | number:1}}m</p>
            <p>{{evnt.category}}</p>
          </td>
        </tr>

      </table>

    </div>
    <!-- end list component -->

    <!-- start map component -->
    <div id="map" class="container">
      <h1>map view</h1>
      <h5 ng-click="displayComponent('#list')">list view</h5>

    </div>
    <!-- end map component -->

    <footer>
      <div class="row">
        <a class="col-md-3" ng-click="displayComponent('#resources')"><span class="glyphicon glyphicon-list-alt"></span></a>
        <a class="col-md-3" ng-click="displayComponent('#profiles')"><span class="glyphicon glyphicon-search"></span></a>
        <a class="col-md-3" ng-click="displayComponent('#activities')"><span class="glyphicon glyphicon-heart"></span></a>
        <a class="col-md-3" ng-click="displayComponent('#settings')"><span class="glyphicon glyphicon-cog"></span></a>
      </div>
    </footer>

  </body>

</html>